<?xml version="1.0" encoding="UTF-8"?>
<launch>


  <rosparam  file="$(find assignment_1)/config/joint_state_controller.yaml" command="load" />
  <rosparam file="$(find assignment_1)/config/aruco_navigation.yaml" command="load" />

  
  <node name="robot_vision" pkg="assignment_1" type="aruco_detector.py" required="true"/>
  <node name="control" pkg="assignment_1" type="robot_control.py" required="true"/>

  
</launch>
